<title>Delete Profile</title>
<link rel="stylesheet" href="/css/my-dropdown.css">
<link rel="stylesheet" href="/css/loader.css">
<nav class="row bg-white sticky-top ng-scope header">
    <div class="col-1 header-logotype">
        <h4 class="padding-0"><b>LOGO<span class="color-steelblue">TYPE</span></b></h4>
    </div>
    <div class="row header-right-elements">
        <a href="#!/questions/your" class="col-1 header-your-questions">
            Your questions</a>
        <a href="#!/questions/answer" class="col-1 header-answer-the-questions">
            Answer the question</a>
        <div class="col-1 my-dropdown header-username">
            <a class="dropa" id="f_l_name">Loading...</a>
            <div class="my-dropdown-content">
                <a href="#!/profile/edit">Edit Profile</a>
                <a href="#!/profile/delete">Delete Profile</a>
                <a href="#" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid ng-scope">
    <div class="row background-color-fafafa">
        <div class="card delete-window">
            <div class="row padding-4-per">
                <h4 class="mb-0">Delete profile</h4>
            </div>
            <hr class="mt-0 mb-0">
            <div class="row order-md-1 padding-2-per">
                <form ng-submit="deleteUser()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1 h6 color-darkgray">Your password
                            <span class="color-darkred">*</span></p>
                        <input type="password" required class="form-control field"
                                ng-model="password">
                    </div>
                    <div class="loader mt-2 mb-2" id="loader">
                    </div>
                    <button class="ms-4 btn btn-lg btn-primary btn-block delete-btn" type="submit" id="delete_btn">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>