<title>Edit Profile</title>
<link rel="stylesheet" href="/css/dropdown.css">
<nav class="row bg-white sticky-top ng-scope" style="box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);margin-right: 0px;margin-left: 0px;">
    <div class="col-1" style="width: 25%; padding: 0.5% 0 0 14.5%;">
        <h4 style="padding: 0;"><b>LOGO<span style="color: steelblue;">TYPE</span></b></h4>
    </div>
    <div class="row" style="width: 75%; padding: 0.5% 14.5% 0 0; margin-left: auto; margin-right: 0;">
        <a href="" class="col-1" style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: auto; margin-right: 0; width: auto">Your
            questions</a>
        <div class="col-1" style="width: 3%; margin-left: 0; margin-right: 0;"></div>
        <a href="" class="col-1" style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: 0; margin-right: 0; width: auto">Answer
            the
            question</a>
        <div class="col-1" style="width: 4.6%; margin-left: 0; margin-right: 0;"></div>
        <div class="col-1 dropdown" style="margin-left: 0; margin-right: 0; width: auto; padding-right: 0; padding-left: 0;">
            <a class="dropa" id="f_l_name">Artyom Volosko</a>
            <div class="dropdown-content">
                <a href="#!/edit_profile">Edit Profile</a>
                <a href="#!/delete_profile">Delete Profile</a>
                <a href="#" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid ng-scope">
    <div class="row" style="background-color: #fafafa;">
        <div style="width: 37%"></div>
        <div class="card mt-3" style="width: 26%; padding: 0;">
            <div class="row" style="padding: 4%;">
                <h4 style="margin-bottom: 0;" class="mb-1">Edit Profile</h4>
            </div>
            <hr style="margin-top: 0; margin-bottom: 0;">
            <div class="row order-md-1" style="padding: 2%;">
                <form ng-submit="changeUser()" class="ng-pristine ng-invalid ng-invalid-required ng-valid">
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">First Name</p>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;"
                               ng-model="user.firstName">
                    </div>
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">Last Name</p>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;"
                               ng-model="user.lastName">
                    </div>
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">Email <span
                                style="color: darkred">*</span></p>
                        <input type="email" required class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;" ng-model="user.email">
                    </div>
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">Phone Number</p>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;"
                               ng-model="user.phoneNumber">
                    </div>
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">Current Password <span
                                style="color: darkred">*</span></p>
                        <input type="password" required class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;"
                               ng-model="oldPassword">
                    </div>
                    <div class="mb-2 ms-4 me-4">
                        <p class="mb-1" style="color: darkgray; font-size: 1rem">New password</p>
                        <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                               style="padding-top: 4px; padding-bottom: 4px; padding-left: 8px;" ng-model="user.password">
                    </div>
                    <button class="ms-4 mb-3  btn btn-lg btn-primary btn-block" type="submit"
                            style="width: 35%;font-size: 1rem;padding-top: 6px;padding-bottom: 6px;">SAVE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>