<title>Forgot password</title>
<link rel="stylesheet" href="/css/loader.css">
<my-body class="container-fluid">
    <div class="card order-md-1 text-center central-window">
        <h4 class="mb-3"><b>LOGO<span class="color-steelblue">TYPE</span></b></h4>
        <h5 class="mb-4"><b>Forgot password</b></h5>
        <form ng-if="!mailIsSend" ng-submit="sendConfirmationCode()">
            <div class="mb-2">
                <input type="email" class="form-control" ng-model="user.email"
                       placeholder="Email" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-100-per" type="submit" id="btn">Get confirmation code
            </button>
            <div class="loader mt-3" id="loader">
            </div>
        </form>
        <form ng-if="mailIsSend" ng-submit="changePassword()">
            <div class="mb-2">
                <input type="text" class="form-control" ng-model="user.confirmationCode"
                       placeholder="Confirmation code" required>
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" ng-model="user.newPassword"
                       placeholder="Password" required>
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" ng-model="additionalData.confirmPassword"
                       placeholder="Confirm password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-100-per" type="submit">Change password
            </button>
        </form>
        <div class="row mt-2">
            <div class="under-btn-text-left width-70-per">
                <h6><b>Remembered the password?</b></h6>
            </div>
            <div class="under-btn-text-right width-15-per">
                <a class="color-steelblue without-text-decoration h6" href="/#!/login">
                    <b>Log In</b></a>
            </div>
        </div>
    </div>
</my-body>