<title>Login</title>
<link rel="stylesheet" href="/css/body-central.css">
<div class="container-fluid">
    <div class="card order-md-1 text-center central-window">
        <h4 class="mb-3"><b>LOGO<span class="color-steelblue">TYPE</span></b></h4>
        <h5 class="mb-4"><b>Log In</b></h5>
        <form ng-submit="login()">
            <div class="mb-2">
                <input type="email" class="form-control" ng-model="user.email"
                       placeholder="Email" required>
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" ng-model="user.password"
                       placeholder="Password" required>
            </div>
            <div class="row mt-3">
                <div class="checkbox mb-3 checkbox-body">
                    <label>
                        <input type="checkbox" id="remember"> Remember me
                    </label>
                </div>
                <div class="checkbox-text width-50-per p-t-07-per">
                    <a class="without-text-decoration color-steelblue" href="/">
                        <b>Forgot your password?</b></a>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-100-per" type="submit">LOG IN
            </button>
        </form>
        <div class="row mt-3">
            <div class="under-btn-text-left width-50-per">
                <h6><b>Don't have account?</b></h6>
            </div>
            <div class="under-btn-text-right width-20-per">
                <a class="color-steelblue without-text-decoration h6" href="/#!/registration">
                    <b>Sign Up</b></a>
            </div>
        </div>
    </div>
</div>