<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body ng-app="Main" ng-controller="MainController" style="padding: 0; background-color: #fafafa">
<nav class="row bg-white sticky-top">
    <div class="col-1" style="width: 14.5%; padding: 0;"></div>
    <div class="col-1" style="width: 38.2%; padding: 0;">
        <h4 style="padding: 0;"><b>LOGO<span style="color: steelblue;">TYPE</span></b></h4>
    </div>
    <a href="" class="col-1" style="color: darkgray; font-size: 1rem; text-decoration: none;">Your questions</a>
    <div class="col-1" style="width: 3%"></div>
    <a href="" class="col-1" style="color: darkgray; font-size: 1rem; text-decoration: none;">Answer the question</a>
    <div class="col-1" style="width: 4.6%"></div>
    <a href="" class="col-1" style="color: darkgray; font-size: 1rem; text-decoration: none;">John Doe▼</a>
</nav>
</body>
</html>