<title>Main</title>
<link rel="stylesheet" href="/css/dropdown.css">
<nav class="row bg-white sticky-top">
    <div class="col-1" style="width: 25%; padding: 0.5% 0 0 14.5%;">
        <h4 style="padding: 0;"><b>LOGO<span style="color: steelblue;">TYPE</span></b></h4>
    </div>
    <div class="row" style="width: 75%; padding: 0.5% 14.5% 0 0; margin-left: auto; margin-right: 0;">
        <a href="" class="col-1"
           style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: auto; margin-right: 0; width: auto">Your
            questions</a>
        <div class="col-1" style="width: 3%; margin-left: 0; margin-right: 0;"></div>
        <a href="" class="col-1"
           style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: 0; margin-right: 0; width: auto">Answer
            the
            question</a>
        <div class="col-1" style="width: 4.6%; margin-left: 0; margin-right: 0;"></div>
        <div class="col-1 dropdown" style="margin-left: 0; margin-right: 0; width: auto; padding-right: 0; padding-left: 0;">
            <a class="dropa" id="f_l_name">John Doe</a>
            <div class="dropdown-content">
                <a href="#">Edit Profile</a>
                <a href="#">Delete Profile</a>
                <a href="#" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>
