<title>Registration</title>
<link rel="stylesheet" href="/css/body-central.css">
<link rel="stylesheet" href="/css/loader.css">
<div class="container-fluid">
    <div class="card order-md-1 text-center central-window">
        <h4 class="mb-3"><b>LOGO<span class="color-steelblue">TYPE</span></b></h4>
        <h5 class="mb-4"><b>Sign Up</b></h5>
        <form ng-submit="createUser()">
            <label class="placeholder-box text-start">
                <input class="form-control" required type="text" ng-model="user.email">
                <div class="placeholder-text">
                    Email <strong class="color-darkred">*</strong>
                </div>
            </label>
            <label class="placeholder-box text-start">
                <input class="form-control" required type="password" ng-model="user.password">
                <div class="placeholder-text">
                    Password <strong class="color-darkred">*</strong>
                </div>
            </label>
            <label class="placeholder-box text-start">
                <input class="form-control" required type="password" ng-model="confirmPassword">
                <div class="placeholder-text">
                    Confirm Password <strong class="color-darkred">*</strong>
                </div>
            </label>
            <div class="mb-2">
                <input type="text" class="form-control" ng-model="user.firstName"
                       placeholder="First Name">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" ng-model="user.lastName"
                       placeholder="Last Name">
            </div>
            <div class="mb-2">
                <input type="tel" class="form-control" ng-model="user.phoneNumber"
                       placeholder="Phone Number">
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-100-per" type="submit" id="sign_btn">SIGN UP
            </button>
            <div class="loader mt-3" id="loader">
            </div>
        </form>
        <div class="row mt-3">
            <div class="under-btn-text-left width-55-per">
                <h6><b>Already have account?</b></h6>
            </div>
            <div class="under-btn-text-right width-15-per">
                <a class="color-steelblue without-text-decoration h6" href="/#!/login">
                    <b>Log In</b></a>
            </div>
        </div>
    </div>
</div>
