<title>Your questions</title>
<link rel="stylesheet" href="/css/my-dropdown.css">
<link rel="stylesheet" href="/css/dropdown-addons.css">
<nav class="row bg-white sticky-top ng-scope"
     style="box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);margin-right: 0px;margin-left: 0px;">
    <div class="col-1" style="width: 25%; padding: 0.5% 0 0 14.5%;">
        <h4 style="padding: 0;"><b>LOGO<span style="color: steelblue;">TYPE</span></b></h4>
    </div>
    <div class="row" style="width: 75%; padding: 0.5% 14.5% 0 0; margin-left: auto; margin-right: 0;">
        <a href="#!/your_questions" class="col-1"
           style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: auto; margin-right: 0; width: auto">Your
            questions</a>
        <div class="col-1" style="width: 3%; margin-left: 0; margin-right: 0;"></div>
        <a href="" class="col-1"
           style="color: darkgray; font-size: 1rem; text-decoration: none; margin-left: 0; margin-right: 0; width: auto">Answer
            the question</a>
        <div class="col-1" style="width: 4.6%; margin-left: 0; margin-right: 0;"></div>
        <div class="col-1 my-dropdown"
             style="margin-left: 0; margin-right: 0; width: auto; padding-right: 0; padding-left: 0;">
            <a class="dropa" id="f_l_name">Artyom Volosko</a>
            <div class="my-dropdown-content">
                <a href="#!/edit_profile">Edit Profile</a>
                <a href="#!/delete_profile">Delete Profile</a>
                <a href="#" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid ng-scope" id="body-container-fluid">
    <div class="row" style="background-color: #fafafa;">
        <div style="width: 14.5%"></div>
        <div class="card mt-3" style="width: 71%; padding: 0;">
            <div class="row" style="padding: 1.5%;">
                <div class="col-1" style="width: 20%;">
                    <h4 style="margin-bottom: 0; padding-left: 2%;" class="mb-1">Your questions</h4>
                </div>
                <div class="col-1" style="width: 17%;margin-left: 62%;">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
                            ng-click="adjustOtherUsersAndAnswerTypesText()"
                            style="width: 100%;font-size: 1rem; padding: 2px; padding-right: 10%"><span
                            style="font-weight: bold; font-size: 20px; line-height: 0">+ </span>Add question
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #fafafa">
                                    <h5 class="modal-title" id="exampleModalLabel">Add question</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form ng-submit="addQuestion()"
                                      class="ng-pristine ng-invalid ng-invalid-required ng-valid">
                                    <div class="modal-body">
                                        <div class="row" style="margin-bottom: 4px;">
                                            <div class="col-1" style="width: 20%;padding-left: 2px;padding-right: 0px;">
                                                <p class="mb-1"
                                                   style="color: darkgray;margin-left: 25px;margin-bottom: 0px;margin-top: 4px;">
                                                    For user <span style="color: darkred">*</span></p>
                                            </div>
                                            <div class="col-1 btn"
                                                 style="padding: 0;width: 50%; border-color:lightgray; border:1px;margin-left: 6px;">
                                                <button class="btn dropdown-toggle new ng-binding" type="button"
                                                        id="dropdownMenuButtonForUser" data-bs-toggle="dropdown"
                                                        aria-expanded="false" style="width: 100%; border-color: lightgray;
                                                    padding-left: 8px; padding-top: 4px; padding-bottom: 4px;
                                                    "><span style="font-size: 16px; padding-right: 0px;" id="forUser">
                                                {{ selectedUserEmail }}</span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonForUser"
                                                    style="width: 49.2%;">
                                                    <li>
                                                        <button class="dropdown-item" style="padding-left: 8px;
                                                font-size: 16px; padding-right: 0px"
                                                                ng-click="replaceSelectedUserEmail(otherUser.email)"
                                                                id="{{ otherUser.email }}"
                                                                ng-repeat="otherUser in otherUsers">
                                                            {{ otherUser.email }}
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 4px;">
                                            <div class="col-1" style="width: 20%;padding-left: 2px;padding-right: 0px;">
                                                <p class="mb-1"
                                                   style="color: darkgray;margin-left: 18px;margin-bottom: 0px;margin-top: 4px;">
                                                    Question <span style="color: darkred">*</span></p>
                                            </div>
                                            <input type="text" class="form-control" ng-model="question" required=""
                                                   style="width: 50%;margin-left: 6px; height: 34px">
                                        </div>
                                        <div class="row" style="margin-bottom: 4px;">
                                            <div class="col-1" style="width: 20%;padding-left: 2px;padding-right: 0px;">
                                                <p class="mb-1"
                                                   style="color: darkgray;font-size: 1rem;margin-top: 4px;margin-bottom: 0px;">
                                                    Answer type<span style="color: darkred">*</span></p>
                                            </div>
                                            <div class="col-1 btn"
                                                 style="padding: 0;width: 50%; border-color:lightgray; border:1px;margin-left: 6px;">
                                                <button class="btn dropdown-toggle new ng-binding" type="button"
                                                        id="dropdownMenuButtonAnswerType" data-bs-toggle="dropdown"
                                                        aria-expanded="false" style="width: 100%; border-color: lightgray;
                                                    padding-left: 8px; padding-top: 4px; padding-bottom: 4px;">
                                                    <span style="font-size: 16px; padding-right: 0px;" id="answerType">
                                            {{ selectedAnswerType }}</span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAnswerType"
                                                    style="width: 49.2%;">
                                                    <li>
                                                        <button class="dropdown-item" style="padding-left: 8px;
                                                font-size: 16px; padding-right: 0px"
                                                                ng-click="replaceSelectedAnswerType(answerType.type)"
                                                                id="{{ answerType.type }}"
                                                                ng-repeat="answerType in answerTypes">
                                                            {{ answerType.type }}
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 4px;">
                                            <div class="col-1" style="width: 20%;padding-left: 2px;padding-right: 0px;">
                                                <p class="mb-1"
                                                   style="color: darkgray;margin-left: 18px;margin-bottom: 0px;margin-top: 4px;">
                                                    Options <span style="color: darkred">*</span></p>
                                            </div>
                                            <textarea type="text" class="form-control" ng-model="options" required
                                                      style="width: 50%;margin-left: 6px; height: 34px"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="background-color: #fafafa">
                                        <button type="button" class="btn" data-bs-dismiss="modal"
                                                style="font-weight: bold">
                                            CANCEL
                                        </button>
                                        <button class="btn btn-primary" type="submit"
                                                style="padding: 3px 20px 3px 20px ">
                                            SAVE
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 99%; padding-left: 3%">
                <table class="table table-striped">
                    <thead style="border-top-width: 1px;">
                    <tr>
                        <th scope="col">For user</th>
                        <th scope="col">Question</th>
                        <th scope="col">Answer type</th>
                        <th scope="col">Answer</th>
                        <th scope="col" style="width: 7.5%; padding: 0;"></th>
                    </tr>
                    </thead>
                    <tbody style="border-top-width: 1px;">
                    <tr ng-repeat="question in questions">
                        <td> {{ question.forUser.email }}</td>
                        <td> {{ question.questionText }}</td>
                        <td> {{ question.answerType.type }}</td>
                        <td> {{ question.answer }}</td>
                        <td>
                            <a ng-click="editQuestion(question)" class="btn" style="padding: 0 6px 0 0;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: gray">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                            <a ng-click="deleteQuestion(question)" class="btn" style="padding: 0;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash3-fill" viewBox="0 0 16 16" style="color: gray">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--            <table border="1">-->
                <!--                <tr>-->
                <!--                    <th>For user</th>-->
                <!--                    <th>Question</th>-->
                <!--                    <th>Answer type</th>-->
                <!--                    <th></th>-->
                <!--                    <th></th>-->
                <!--                </tr>-->
                <!--                &lt;!&ndash; $scope.employees &ndash;&gt;-->
                <!--                <tr ng-repeat="question in questions">-->
                <!--                    <td> {{ question.empId }}</td>-->
                <!--                    <td> {{ question.empNo }}</td>-->
                <!--                    <td>{{ question.empName }}</td>-->
                <!--                    <td>-->
                <!--                        <a ng-click="editQuestion(question)" class="btn">Edit</a>-->
                <!--                    </td>-->
                <!--                    <td>-->
                <!--                        <a ng-click="deleteQuestion(question)" class="btn">Delete</a>-->
                <!--                    </td>-->
                <!--                </tr>-->
                <!--            </table>-->
            </div>
        </div>
    </div>
    <div id="text-size-test" style="display: inline; position: absolute; opacity: 0; font-size: 16px"></div>
</div>
