<title>Your questions</title>
<link rel="stylesheet" href="/css/my-dropdown.css">
<link rel="stylesheet" href="/css/dropdown-addons.css">
<nav class="row bg-white sticky-top ng-scope header">
    <div class="col-1 header-logotype">
        <h4 class="padding-0"><b>LOGO<span class="color-steelblue">TYPE</span></b></h4>
    </div>
    <div class="row header-right-elements">
        <a href="#!/questions/your" class="col-1 header-your-questions">
            Your questions</a>
        <a href="#!/questions/answer" class="col-1 header-answer-the-questions">
            Answer the question</a>
        <div class="col-1 my-dropdown header-username">
            <a class="dropa" id="f_l_name">Loading...</a>
            <div class="my-dropdown-content">
                <a href="#!/profile/edit">Edit Profile</a>
                <a href="#!/profile/delete">Delete Profile</a>
                <a href="#" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid ng-scope" id="body-container-fluid">
    <div class="row background-color-fafafa">
        <div class="card mt-3 central-window-questions">
            <div class="row padding-1-5-per">
                <div class="col-1 width-20-per">
                    <h4 class="mb-0 padding-left-2-per">Your questions</h4>
                </div>
                <div class="col-1 btn-question-add-container">
                    <button class="btn btn-primary btn-question-add" data-bs-toggle="modal" data-bs-target="#myModal"
                            ng-click="adjustAddQuestionText()">
                        <span class="btn-question-add-plus-text">+ </span>Add question
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="addQuestionModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header background-color-fafafa">
                                    <h5 class="modal-title" id="addQuestionModalLabel">Add question</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form ng-submit="addQuestion()">
                                    <div class="modal-body">
                                        <div class="row m-b-4px p-t-20px">
                                            <div class="col-1 modal-body-inner-text-container">
                                                <p class="mb-0 h6 color-darkgray m-l-25px m-t-4px not-bold">
                                                    For user <span class="color-darkred">*</span></p>
                                            </div>
                                            <div class="col-1 btn dropdown-main-btn">
                                                <button class="btn dropdown-toggle new ng-binding dropdown-element-btn"
                                                        type="button" id="dropdownMenuButtonForUserOnQuestionAdd"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="dropdown-selected-element-btn-text"
                                                          id="forUserOnQuestionAdd">
                                                {{ selectedUserEmail }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-elements-btn"
                                                    aria-labelledby="dropdownMenuButtonForUserOnQuestionAdd">
                                                    <li>
                                                        <button class="dropdown-item dropdown-elements-btn-text"
                                                                ng-click="replaceSelectedUserEmailOnQuestionAdd(otherUser.email)"
                                                                id="{{ otherUser.email }}" type="button"
                                                                ng-repeat="otherUser in otherUsers">
                                                            {{ otherUser.email }}
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row m-b-4px">
                                            <div class="col-1 modal-body-inner-text-container">
                                                <p class="mb-0 color-darkgray m-t-4px m-l-18px">
                                                    Question <span class="color-darkred">*</span></p>
                                            </div>
                                            <input type="text" class="form-control modal-input" ng-model="questionText"
                                                   required>
                                        </div>
                                        <div class="row m-b-4px">
                                            <div class="col-1 modal-body-inner-text-container">
                                                <p class="mb-0 h6 color-darkgray m-t-4px not-bold">
                                                    Answer type<span class="color-darkred">*</span></p>
                                            </div>
                                            <div class="col-1 btn dropdown-main-btn">
                                                <button class="btn dropdown-toggle new ng-binding dropdown-element-btn"
                                                        type="button" id="dropdownMenuButtonAnswerTypeOnQuestionAdd"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="dropdown-selected-element-btn-text"
                                                          id="answerTypeOnQuestionAdd">
                                            {{ selectedAnswerType }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-elements-btn"
                                                    aria-labelledby="dropdownMenuButtonAnswerTypeOnQuestionAdd">
                                                    <li>
                                                        <button class="dropdown-item dropdown-elements-btn-text"
                                                                ng-click="replaceSelectedAnswerTypeOnQuestionAdd(answerType.type)"
                                                                id="{{ answerType.type }}" type="button"
                                                                ng-repeat="answerType in answerTypes">
                                                            {{ answerType.type }}
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row m-b-4px" id="optionsBlockOnQuestionAdd">
                                            <div class="col-1 modal-body-inner-text-container">
                                                <p class="mb-0 color-darkgray m-t-4px m-l-18px">
                                                    Options <span class="color-darkred">*</span></p>
                                            </div>
                                            <textarea type="text" class="form-control modal-input" ng-model="options"
                                                      required="" id="optionsOnQuestionAdd"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer background-color-fafafa">
                                        <button type="button" class="btn" data-bs-dismiss="modal">
                                            <b>CANCEL</b>
                                        </button>
                                        <button class="btn btn-primary modal-btn" type="submit">
                                            SAVE
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 color-gray">
            <div class="row items-container">
                <form ng-submit="editQuestion()" class="padding-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">For user</th>
                            <th scope="col">Question</th>
                            <th scope="col" class="text-center">Answer type</th>
                            <th scope="col" class="text-center">Answer</th>
                            <th scope="col" class="items-edit-delete-column"></th>
                        </tr>
                        </thead>
                        <tbody style="border-top-width: 1px;"> <!--no other way-->
                        <tr ng-repeat="question in questions">
                            <td> {{ question.forUser.email }}</td>
                            <td> {{ question.questionText }}</td>
                            <td> {{ question.answerType.type }}</td>
                            <td class="word-wrap"> {{ question.answer }}</td>
                            <td>
                                <a ng-click="adjustEditQuestionText(question)" class="btn item-edit-btn"
                                   data-bs-toggle="modal" data-bs-target="#editQuestionModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-pencil-square color-gray" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd"
                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                                <a ng-click="deleteQuestion(question)" class="btn padding-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash3-fill color-gray" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                </a>
                            </td>
                            <div class="modal fade" id="editQuestionModal" tabindex="-1"
                                 aria-labelledby="editQuestionModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header background-color-fafafa">
                                            <h5 class="modal-title" id="editQuestionModalLabel">Edit question</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row m-b-4px p-t-20px">
                                                <div class="col-1 modal-body-inner-text-container">
                                                    <p class="mb-0 h6 color-darkgray m-l-25px m-t-4px not-bold">
                                                        For user <span class="color-darkred">*</span></p>
                                                </div>
                                                <div class="col-1 btn dropdown-main-btn">
                                                    <button class="btn dropdown-toggle new ng-binding dropdown-element-btn"
                                                            type="button"
                                                            id="dropdownMenuButtonForUserOnQuestionEdit"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <span class="dropdown-selected-element-btn-text"
                                                            id="forUserOnQuestionEdit">
                                                            {{ questionForEdit.forUser.email}}</span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-elements-btn"
                                                        aria-labelledby="dropdownMenuButtonForUserOnQuestionEdit">
                                                        <li>
                                                            <button class="dropdown-item dropdown-elements-btn-text"
                                                                    ng-click="replaceSelectedUserEmailOnQuestionEdit(otherUser.email)"
                                                                    id="{{ otherUser.email + 'Edit'}}" type="button"
                                                                    ng-repeat="otherUser in otherUsers">
                                                                {{ otherUser.email }}
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row m-b-4px">
                                                <div class="col-1 modal-body-inner-text-container">
                                                    <p class="mb-0 color-darkgray m-t-4px m-l-18px">
                                                        Question <span class="color-darkred">*</span></p>
                                                </div>
                                                <input type="text" class="form-control modal-input"
                                                       ng-model="questionForEdit.questionText"
                                                       required>
                                            </div>
                                            <div class="row m-b-4px">
                                                <div class="col-1 modal-body-inner-text-container">
                                                    <p class="mb-0 h6 color-darkgray m-t-4px not-bold">
                                                        Answer type<span class="color-darkred">*</span></p>
                                                </div>
                                                <div class="col-1 btn dropdown-main-btn">
                                                    <button class="btn dropdown-toggle new ng-binding dropdown-element-btn"
                                                            type="button" id="dropdownMenuButtonAnswerTypeOnQuestionEdit"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                    <span class="dropdown-selected-element-btn-text"
                                                          id="answerTypeOnQuestionEdit">
                                            {{ questionForEdit.answerType.type }}</span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-elements-btn"
                                                        aria-labelledby="dropdownMenuButtonAnswerTypeOnQuestionEdit">
                                                        <li>
                                                            <button class="dropdown-item dropdown-elements-btn-text"
                                                                    ng-click="replaceSelectedAnswerTypeOnQuestionEdit(answerType.type)"
                                                                    id="{{ answerType.type + 'Edit'}}" type="button"
                                                                    ng-repeat="answerType in answerTypes">
                                                                {{ answerType.type }}
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row m-b-4px" id="optionsBlockOnQuestionEdit">
                                                <div class="col-1 modal-body-inner-text-container">
                                                    <p class="mb-0 color-darkgray m-t-4px m-l-18px">
                                                        Options <span class="color-darkred">*</span></p>
                                                </div>
                                                <textarea type="text" class="form-control modal-input"
                                                          id="optionsOnQuestionEdit"
                                                          ng-model="questionForEdit.answerOptions" required="">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer background-color-fafafa">
                                            <button type="button" class="btn" data-bs-dismiss="modal">
                                                <b>CANCEL</b>
                                            </button>
                                            <button class="btn btn-primary modal-btn" type="submit">
                                                EDIT
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="row p-l-1-5-per">
                <div class="col-1 width-auto">
                    <span>{{paginationInfo}}</span>
                </div>
                <div class="col-1 pagination-container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" id="previousPageParent">
                            <button class="page-link pagination-previous-next-element" id="previousPage"
                                    ng-click="paginationClick('previousPage')">◂
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="firstPage" ng-click="paginationClick('firstPage')">
                                {{pagesNums.firstPage}}
                            </button>
                        </li>
                        <li class="page-item disabled">
                            <button class="page-link" id="pagesBefore">...</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="pageBeforeBefore"
                                    ng-click="paginationClick('pageBeforeBefore')">
                                {{pagesNums.pageBeforeBefore}}
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="pageBefore" ng-click="paginationClick('pageBefore')">
                                {{pagesNums.pageBefore}}
                            </button>
                        </li>
                        <li class="page-item active">
                            <button class="page-link" id="currentPage" ng-click="paginationClick('currentPage')">
                                {{pagesNums.currentPage}}
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="pageAfter" ng-click="paginationClick('pageAfter')">
                                {{pagesNums.pageAfter}}
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="pageAfterAfter" ng-click="paginationClick('pageAfterAfter')">
                                {{pagesNums.pageAfterAfter}}
                            </button>
                        </li>
                        <li class="page-item disabled">
                            <button class="page-link" id="pagesAfter">...</button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" id="lastPage" ng-click="paginationClick('lastPage')">
                                {{pagesNums.lastPage}}
                            </button>
                        </li>
                        <li class="page-item" id="nextPageParent">
                            <button class="page-link pagination-previous-next-element" id="nextPage"
                                    ng-click="paginationClick('nextPage')">▸
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-1 questions-id-in-page">
                    <button class="btn dropdown-toggle new ng-binding dropdown-element-btn" type="button"
                            ng-click="adjustQuestionsPerPageText()"
                            id="dropdownMenuButtonChooseQuestionsPerPage" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span class="dropdown-selected-element-btn-text" id="questionsPerPage">
                                            {{ questionsPerPage }}</span>
                    </button>
                    <ul class="dropdown-menu question-per-page"
                        aria-labelledby="dropdownMenuButtonChooseQuestionsPerPage">
                        <li>
                            <button class="dropdown-item dropdown-elements-btn-text"
                                    ng-click="replaceSelectedQuestionsPerPage(questionsPerPageOption)"
                                    id="{{ questionsPerPageOption + 'QuestionsPerPage' }}" type="button"
                                    ng-repeat="questionsPerPageOption in questionsPerPageOptions">
                                {{ questionsPerPageOption }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-block-to-check-font-weidth" id="text-size-test"></div>
</div>
