@charset "windows-1251";

.dropa {
    text-decoration: none;
    color: darkgray;
    cursor: pointer;
}

.dropa::after {
    content: " \23F7";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    margin-top: 10px;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropa {
    color: steelblue;
}