.central-window {
    width: 26%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.central-window-questions {
    width: 71%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.color-steelblue {
    color: steelblue;
}

.color-darkred {
    color: darkred;
}

.color-darkgray {
    color: darkgray;
}

.color-gray {
    color: gray;
}

.background-color-fafafa {
    background-color: #fafafa;
}

.checkbox-body {
    width: 45%;
    padding: 0;
}

.checkbox-text {
    padding: 0;
    font-size: 0.9rem;
}

.without-text-decoration {
    text-decoration: none;
}

.btn-100-per {
    width: 100%;
    font-size: 1rem;
}

.under-btn-text-left {
    padding: 0;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 1%
}

.under-btn-text-right {
    padding: 0;
}

.width-15-per {
    width: 15%;
}

.width-20-per {
    width: 20%;
}

.width-50-per {
    width: 50%;
}

.width-55-per {
    width: 55%;
}

.width-100-per {
    width: 100%;
}

.width-auto {
    width: auto;
}

.header {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    margin-right: 0;
    margin-left: 0;
}

.header-logotype {
    width: 25%;
    padding: 0.5% 0 0 14.5%;
}

.header-right-elements {
    width: 75%;
    padding: 0.5% 14.5% 0 0;
    margin-left: auto;
    margin-right: 0;
}

.header-your-questions {
    color: darkgray;
    font-size: 1rem;
    text-decoration: none;
    margin-left: auto;
    margin-right: 3%;
    width: auto
}

.header-answer-the-questions {
    color: darkgray;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0;
    margin-right: 4.6%;
    width: auto
}

.header-username {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    padding-right: 0;
    padding-left: 0;
}

.padding-0 {
    padding: 0;
}

.padding-1-5-per {
    padding: 1.5%;
}

.padding-4-per {
    padding: 4%;
}

.padding-2-per {
    padding: 2%;
}

.p-t-07-per {
    padding-top: 0.7%;
}

.p-t-20px {
    padding-top: 20px;
}

.p-l-1-5-per {
    padding-left: 1.5%;
}

.delete-window {
    width: 26%;
    padding: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.field {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.field-read-only{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    background-color: lightgray;
    border-width: 0;
}

.delete-btn {
    width: 28%;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 6px;
    padding-right: 15px;
    margin-bottom: 12px;
}

.edit-profile-btn {
    width: 35%;
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.padding-left-1-per {
    padding-left: 1%;
}

.padding-left-2-per {
    padding-left: 2%;
}

.btn-question-add-container {
    width: 17%;
    margin-left: 62%;
}

.btn-question-add {
    width: 100%;
    font-size: 1rem;
    padding: 2px 10% 2px 2px;
}

.btn-question-add-plus-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 0;
}

.m-b-4px {
    margin-bottom: 4px;
}

.modal-body-inner-text-container {
    width: 20%;
    padding-left: 2px;
    padding-right: 0
}

.m-l-18px {
    margin-left: 18px;
}

.m-l-25px {
    margin-left: 25px;
}

.m-t-4px {
    margin-top: 4px;
}

.dropdown-main-btn {
    padding: 0;
    width: 50%;
    border: 1px lightgray;
    margin-left: 6px;
}

.dropdown-element-btn {
    width: 100%;
    border-color: lightgray;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.dropdown-selected-element-btn-text {
    font-size: 16px;
    padding-right: 0;
}

.dropdown-elements-btn {
    width: 49.2%;
}

.dropdown-elements-btn-text {
    padding-left: 8px;
    font-size: 16px;
    padding-right: 0;
}

.modal-input {
    width: 50%;
    margin-left: 6px;
    height: 34px;
}

.not-bold {
    font-weight: normal;
}

.modal-btn {
    padding: 3px 20px 3px 20px;
}

.items-container {
    width: 99%;
    padding-left: 3%;
}

.border-top-width-1px {
    border-top-width: 1px;
}

.items-edit-delete-column {
    width: 7.5%;
    padding: 0;
}

.items-edit-column {
    width: 3%;
    padding: 0;
}

.item-edit-btn {
    padding: 0 6px 0 0;
}

.pagination-container {
    width: auto; margin-left: auto; margin-right:auto;
}

.pagination-previous-next-element {
    font-size: 24px; padding: 0 6px 0 6px;
}

.questions-id-in-page {
    padding-right: 30px; width: 9.5%; padding-left: 0;
}

.question-per-page {
    width: 6%; min-width:6%;
}

.hidden-block-to-check-font-weidth {
    display: inline; position: absolute; opacity: 0; font-size: 16px
}

.modal-norm {
    max-width: 400px;
}

.word-wrap {
    white-space: pre-line;
}

.dropdown-combobox-btn {
    padding: 0;
    width: 100%;
    border: 1px lightgray;
}

.datetimepicker {
    width: 100%;
    margin: 0;
}